body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  margin: 0;
}

footer {
  width: 100%;
  background-color: #c40000;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

header {
  background-color: #c40000; 
  color: white;
  width: 100%; 
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 0;
}

.login-form {
  background: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  width: 350px;
  align-items: center;
  justify-content: center;

}

.input-field {
  width: 100%;
  padding: 11px;
  margin: 5px;
  margin-bottom: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.input-field:focus {
  border-color: #EB0000;
  outline: none;
}

.login-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.login-button:hover {
  background-color: white;
  color: #4CAF50;
  border-color: #4CAF50;
}

#login-error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}